
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
    background: gray;
     width:500px;
   height:500px;

}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  width:500px;
  height:500px;

}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container 
{
  text-align: center;
}
.container h1 
{
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
form
{
position: relative;
}

form input
{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
    padding: 5px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}

form input:hover 
{
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus 
{
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button 
{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 10px;
  
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form select
{
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: gray;
  border-radius: 3px;
  width: 50px;
    
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s; 
}
#load{
  background-color: greenyellow;
  color: white;
  margin-right: 20px;
  border-radius: 3px;
  width: 10px;
  cursor: pointer;
  font-size: 10px;
}
#reset{
  background-color: red;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 250px;
  border-radius: 3px;
    padding: 5px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
    margin-right: 25px;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}
#username2{
    margin-left: 110px;
        position: relative;
}
#username2:focus {
  background-color: white;
  width: 250px;
  color: #53e3a6;
}